<div id="x-shell-header" class="card">
    <p-megaMenu [model]="leftMegaMenuItems" styleClass="flex">
        <ng-template pTemplate="start" class="x-float-left x-dflex">
            <img src="../../../assets/XPlannerLogoNegative.svg"  class="main-logo mr-2" />
            <p-divider layout="vertical" ></p-divider>
        </ng-template>
    </p-megaMenu>

    <div class="ml-25 mt-25 x-float-right">
        <p-megaMenu [model]="rightMegaMenuItems" styleClass="flex" ></p-megaMenu>
    </div>

    <div class="mr-25 mt-18 x-float-right">
        <h3>{{this.userName}}</h3>
    </div>

    <div class="mr-25 mt-18 x-float-right br-35">
        <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge"></p-avatar>
    </div>

    <div class="mt-30 mr-25 justify-content-center x-float-right">
        <p-selectButton [options]="expModeOptions" [(ngModel)]="expMode" optionLabel="label" optionValue="value" ></p-selectButton> 
    </div>
</div>

<div id="x-shell-body" class="dock-window">
    <!-- to do: hide sidebar -->
    <p-sidebar #leftSideBar [visible]="true" [modal]="false">
        <p-panelMenu [transitionOptions]="'500ms'" [model]="getLeftSideBarItems()" ></p-panelMenu>
    </p-sidebar>
    
    <!-- smart canvas is show by default -->
    <x-smart-canvas *ngIf="smartCanvasVisible"></x-smart-canvas>
    
    <!-- to do: hide sidebar -->
    <p-sidebar #rightSideBar [visible]="true" [modal]="false" position="right">
        <p-tabView>
            <p-tabPanel header="Steps">
                <p>
                    Accordion view here
                </p>
            </p-tabPanel>
            <p-tabPanel header="Labware Info">
                <p>
                    Seleced labware details here
                </p>
            </p-tabPanel>
        </p-tabView>
    </p-sidebar>
</div>

<div id="x-shell-footer">

</div>  

<!-- catalog is shown on labware import event -->
<x-product-catalog [productCatalogVisible]="productCatalogVisible" (productCatalogClosed)="onProductCatalogClosed()" ></x-product-catalog>