
.x-dark-gray {
    background: #282b34 !important;
    background-color: #282b34 !important;
}

.card {
    background: #282B34;
    padding: 2rem;
    margin-bottom: 1rem;
}

.p-component {
    background: #282B34 !important;
}

