<div id="x-shell-header" class="card"> 
    <img src="../../../assets/XPlannerLogoNegative.svg"  class="main-logo mr-2 mt-15" />
</div>

<div id="x-shell-body" class="x-dock-window">
   
    <!-- smart canvas is show by default -->
    <x-smart-canvas *ngIf="smartCanvasVisible"></x-smart-canvas>
    
    <p-contextMenu #stepContextMenu [model]="stepContextMenuItems" [target]="targetStep" (onHide)="clearTargetStep()"></p-contextMenu>
    <p-contextMenu #labwareContextMenu [model]="actions" [target]="targetLabware" (onHide)="clearTargetLabware()"></p-contextMenu>
    <!-- to do: hide sidebar -->
    <p-sidebar #rightSideBar [visible]="true" [modal]="false" position="right">
        <p-tabView>
            <p-tabPanel header="Steps">
                <div>
                    <p-button icon="pi pi-plus" class="br-none full-width-button d-grid" label="Next step" (onClick)="this.onNextStep()"></p-button>
                </div>
                <p-accordion>
                    <p-accordionTab *ngFor="let step of this.stepsItems;let i = index"
                                    [header]="step.title" 
                                    (contextmenu)="showStepContextMenu($event, step, i)">
                    </p-accordionTab>
                </p-accordion>
            </p-tabPanel>
            <p-tabPanel header="Labware">
                <div class="br-none">
                    <p-button icon="pi pi-plus" class="br-none full-width-button d-grid" label="Introduce Labware" (onClick)="this.onMenuItemClick('openProductCatalog')"></p-button>
                </div>
                <p-listbox
                    #labwareContextMenu
                    *ngIf="isLabware"
                    [options]="products"
                    [(ngModel)]="selectedProducts"
                    [metaKeySelection]="false" 
                    [checkbox]="false"
                    [filter]="isProductFilter" 
                    [multiple]="true" 
                    optionLabel="name"
                    [style]="{'max-height': '300px'}">
                    <ng-template let-product pTemplate="item">
                        <div (contextmenu)="showLabwareContextMenu($event, product)">
                            <span class="fs-12">{{product.name}}</span>
                        </div>
                    </ng-template>
                </p-listbox>
            </p-tabPanel>
        </p-tabView>
    </p-sidebar>
</div>

<div id="x-shell-footer">
    <!-- <p-selectButton [options]="expModeOptions" [(ngModel)]="expMode" optionLabel="label" optionValue="value" ></p-selectButton>  -->
    
</div>

<!-- catalog is shown on labware import event -->
<x-product-catalog [productCatalogVisible]="productCatalogVisible" 
    (productCatalogClosed)="onProductCatalogClosed()" 
    (productIntroduced)="onProductIntroduced($event)"
    (productUnintroduced)="onProductUnintroduced($event)">
</x-product-catalog>