.x-product-catalog {
    color: white;
    width: 1230px;
    height: 627px;
}

:host ::ng-deep .x-product-catalog th{
    font-size: 15px;
    padding: 10px !important;
}

.p-input-icon-left {
    float: right;
}

#pinputtext {
    width: 300px;
}

:host ::ng-deep .p-datatable tr td {
    font-size: 12px;
    padding: 10px;
}

:host ::ng-deep .p-datatable-wrapper th {
    font-size: 15px;
    padding: 10px !important;
}

:host ::ng-deep .ml-5 {
    margin-left: 5px;
}
